.data-chart {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background: url(../../assets/images/sqbg.jpg);
}

.data-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.data-name {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-field {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  z-index: 0;
}

.value-field {
  height: 100%;
  width: fit-content;
  position: absolute;
  right: 0;
  border-right: 2px solid #000;
  display: flex;
  align-items: flex-start;
  padding-right: 10px;
}

.value-field h4 {
  background: #fff;
}
