.loading {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  height: 0.3vw;
  background: rgba(52, 116, 255, 0.2);
}

.loading-progess {
  height: 100%;
  width: 90%;
  background: rgb(52, 116, 255);
  position: relative;
  animation: move 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  0% {
    left: -90%;
  }
  100% {
    left: 100%;
  }
}
