.button {
  border-radius: 5px;
  outline: 0;
  padding: 8px 20px 10px;
  font-weight: 550;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.4;
}
