.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  position: relative;
  margin-bottom: 10px;
}
