.no-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-page h1 {
  font-size: 100px;
  color: burlywood;
  margin-bottom: 200px;
  transform: rotate3d(1, 1, 1, 345deg);
  text-shadow: -10px 10px 5px #558abb;
}
