@import "../Distributor.scss";

.orders__table {
  margin-top: 30px;

  .table__confirm-btn {
    cursor: pointer;
    color: #4bb543;
    font-weight: 500;

    &:hover {
      color: green;
    }
  }
}

.modal-text {
  margin-left: 8px;
}

.home__table {
  margin-top: 60px;
}
