@import "../GlobalStyles/GlobalStyles.scss";

.sidebar__wrapper {
  width: 100px;
  background-color: var(--white-color);
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  .logo-brand__wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .logo-brand {
      width: 48px;
      border-radius: 50%;
      color: #fff;
      font-weight: 400;
      font-size: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: 100%;
        height: auto;
        cursor: pointer;
      }
    }
  }
}

.divider {
  margin: auto 26px;
  border-bottom: 1px solid #e0e0e0;
}

.list-links {
  flex: 1;
}

.list-tools {
  .modal-text {
    font-size: 24px;
  }
}

.item-icon {
  display: flex;
  width: fit-content;
  padding: 14px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(236, 236, 236, 0.6);
  margin: 30px auto;
  border-radius: 12px;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: var(--primary-color);
    background: #ccffe6;
  }
}

.item-icon.active {
  background-color: var(--primary-color);
  color: #fff;
}

.logout-icon {
  transform: translateX(-2px);
}

.icon__wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: max-content;
  transform: translate(-50%);
  transition: all 0.3s;
  opacity: 0;
}

.icon__wrapper:hover .tooltip {
  position: absolute;
  opacity: 1;
}

.current {
  color: var(--primary-color);
  background: #ccffe6;
}

.logout-icon {
  transform: translateX(-2px);
}

.list-tools {
  .modal-text {
    font-size: 24px;
  }
}