.ant-menu-item {
    display: flex;
    justify-content: center;
    width: 80px !important;
    height: 80px !important;
  }
  
  .ant-menu-item span {
    display: block !important;
    width: 100%;
    font-size: 20px !important;
    margin: auto;
  }
  
  .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .ant-btn{
    border-radius: 6px;
  }
  
  .form-input{
    border-radius: 8px;
    padding:10px 12px;
    width: 100%;
  }
  
  .ant-form{
    width: 100%;
  }


  .ant-form-item-row{
    width: 100%;
  }
  
  .form-submit-btn{
    width: 100%;
    height: 44px !important;
  
  }
  
  .ant-message{
    border-radius: 18px!important;
  }
  
  .basic_remember{
    background: red;
  }
  
  //Ant select
  .ant-select-selector {
    height: 44px!important;
  }
  
  .ant-select-selection-item {
    text-align: left!important;
    line-height: 44px!important;
  }
  
  .ant-select-selection-placeholder {
    line-height: 44px!important;
  }

